.container{
    padding: 15px;
    display: grid;
    grid-template-rows: 20vh 60vh;
gap: 10px;  
background-color: #59425d;
height: 100vh;
}
}

.container >div{
    /* background-color: rgba(0, 0, 0, 0.468); */
    border-radius: 5px;
    height: 100%;
}

