
.taskInput{
    background-color: rgba(129, 95, 143, 0.589);
    min-height: 100vh;
}

.main{
    background-color: rgba(14, 20, 47, 0.436);
    padding: 10px 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50vw;
    /* align div at the center of the page */
    margin: 0 auto;
    transform: translate(0%, 50%);
}

.creds{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    margin: 0 auto;
    padding: 0 auto;
}

.creds > input, input{
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(157, 153, 153);
    padding: 0 auto;
    margin: 0 auto;
    border: none;
    background-color: rgb(189, 181, 181);
}

.creds > input:not(:last-child){
    margin-bottom: 10px;
    margin-top: 0.5rem;

}

.util{
    display:block;
   text-align: center;
    margin-bottom: 0.5rem;
}


.submit{
    margin-top: 10px;
}

textarea{
    background-color: rgb(189, 181, 181);
    border: none;
    color: white;
    width: 90%;
    min-height: 100px;
    margin: 0 auto;
    padding: 0 auto;
    border-radius: 10px
} 




.desc{
   
    width: 70%;
    min-height: fit-content;
    margin: 0 auto;
    padding: 0 auto;
}

span{
    float: left;
}