#root {
  font-family: sans-serif;
  background-color: rgb(89, 60, 97);
  mmin-height: fit-content;
  min-height: 200vh;
  color: white
}

.btn{
  background-color: rgba(0, 0, 0, 0.534);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 5px;
}
